<html>
	<head>
		<meta charset="utf-8"/>
		<title>Add new word</title>
	</head>
	<body>
	<style>
        body {background-color: #C0C0C0;}
        h1 {color: black}
	</style>
		<header>
			<h1><center>Anagram Engine</center></h1>

				<div style="float:right; width:90%; text-align: left;font-size:100%;">
					<p class="sub-headline">Welcome {{ user.email() }}</p>
				</div>
		</header>
		<div class="content">
			<table>
				<form method="post">
					<tr>
						<td>
							<input type="text" class="text_input" name="value" placeholder="Add a new word" onkeypress="return onlyAlphabets(event,this);"/>
						</td>
						<td id="button_row">
							<input type="submit" class="button" name="button" value="Add"/>
						</td>
					</tr>
				</form>
			</table>
			<br>
				<form method="post">
					<tr>
						<td id="button_row">
							<input type="submit" class="button" name="cancel" value="Cancel">
							</td>
						</tr>
					</form>
				</div>
			</body>
			<script language="Javascript" type="text/javascript">
      function onlyAlphabets(e, t) {
            try {
                if (window.event) {
                    var charCode = window.event.keyCode;
                }
                else if (e) {
                    var charCode = e.which;
                }
                else { return true; }
                if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123))
                    return true;
                else
                    return false;
            }
            catch (err) {
                alert(err.Description);
            }
        }

			</script>
		</html>
