<html>
	<head>
		<meta charset="utf-8"/>
		<title>Anagram Engine</title>
	</head>
	<body>
		<h1><center><strong> Anagram Engine </strong></center></h1>
		<p><center><strong> Welcome Guest</strong></center></p>
		<div style="margin: 15% auto;">
			<div class="content_login" style="text-align:center">
				<p>	Please login </p>
					<a href="{{ url }}">
						<div class="button_element_login">Click Here</div>
					</a>
			</div>
		</div>
	<style>
        body {background-color: #C0C0C0;}
        h1 {color: black}
	</style>
	</body>
</html>
